*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    transition: .6s;
}



:root {
    /*prime colors*/
    --prm-color-1: hsl(245, 75%, 52%);
    --prm-color-2: hsl(225, 100%, 94%);

    /*Netural Colors*/
    --nt-color-1: hsl(225, 100%, 98%);
    --nt-color-2: #7280a7;
    --nt-color-3: hsl(223, 47%, 23%);
    /*hover color*/
    --hv-color-1: hsla(245, 75%, 52%, 0.651);
    /*font size*/
    --paragraph-sz: 16px;
}


body {
    background-color: var(--prm-color-2);
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.container {
    width: fit-content;
}
.mid-detail {
    background-color: var(--nt-color-1);
}
.top-img {
    width: fit-content;
}

.mid-detail {
    text-align: center;
    padding: 0 8%;
}
.mid-detail h3 {
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0px 10px 0px;
    color: var(--nt-color-3);
}
.mid-detail p {
    line-height: 1.6rem;
    color: var(--nt-color-2);
}


.payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;

}

.left-pay {
    display: flex;
}
.lft-pay-det {
    padding-left: 18px;
}
.lft-pay-det h4{
    color: var(--nt-color-3);
    font-size: 15px;
    font-weight: 900;
}

.payment a {
    text-decoration: underline;
    color: var(--prm-color-1);
    font-weight: 700;
}
.payment a:hover {
    text-decoration: none;
    color: var(--hv-color-1);
}

.sumbit-sec {
    background-color: var(--nt-color-1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 8%;
}

.sumbit-sec button {
    border-style: none;
    border-width: 0;
    background-color: var(--prm-color-1);
    color:var(--nt-color-1);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 100px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 17px 16px -2px rgba(114,128,167,0.3);
    -moz-box-shadow: 0px 17px 16px -2px rgba(114,128,167,0.3);
    box-shadow: 0px 17px 16px -2px rgba(114,128,167,0.3);
}
.sumbit-sec button:hover {
    background-color: var(--hv-color-1);
}

.sumbit-sec a {
    padding: 30px 0 50px 0;
    text-decoration: none;
    color: var(--nt-color-2);
    font-weight: 700;
    width: fit-content;
}

.sumbit-sec a:hover {
    color: var(--nt-color-3);
}

.container {
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 1px 33px 22px -8px rgba(114,128,167,0.39);
    -moz-box-shadow: 1px 33px 22px -8px rgba(114,128,167,0.39);
    box-shadow: 1px 33px 22px -8px rgba(114,128,167,0.39);
}



@media (max-width: 375) {
    .top-img {

    }
}